<div class="separator-nav"></div>

<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <app-title title="Educación"></app-title>
      <ul class="list-group mt-3">
        <li *ngFor="let education of educationList" class="list-group-item list-group-item-action" >
          <div class="position-absolute" style="top: 13px;left: 20px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="var(--bs-danger)" class="bi bi-mortarboard-fill" viewBox="0 0 16 16">
              <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5Z"/>
              <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Z"/>
            </svg>
          </div>
          <div class="ms-5">
            <h6 class="mb-0 text-primary fw-bold">
              <i class="text-danger bi bi-check2-circle"></i> {{education.name}}
            </h6>
            <div class="small text-secondary mb-2" style="font-size: 12px;">{{education.enterprise}}</div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="row justify-content-center mt-5">
    <div class="col-12 col-md-6">
      <app-title title="Más logros"></app-title>
      <ul class="list-group mt-3">
        <li *ngFor="let education of othersList" class="list-group-item list-group-item-action" >
          <div class="position-absolute" style="top: 13px;left: 20px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="var(--bs-danger)" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
              <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
            </svg>
          </div>
          <div class="ms-5">
            <h6 class="mb-0 text-primary fw-bold">
              <i class="text-danger bi bi-check2-circle"></i> {{education.name}}
            </h6>
            <div class="small text-secondary mb-2" style="font-size: 12px;">{{education.enterprise}}</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
