<div class="separator-nav"></div>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <app-title title="Habilidades"></app-title>
      <!-- Cortar en partes  -->
      <div *ngFor="let arrayChunck of [{ chunck: 2, count: 5 }]">
        <ul *ngFor="let num of [].constructor(arrayChunck.count); let i = index;" class="list-group mt-3 list-group-horizontal-sm">
          <li *ngFor="let tec of technologies | slice: getSliceBreak(i, arrayChunck.chunck).init : getSliceBreak(i, arrayChunck.chunck).end;"
              class="list-group-item list-group-item-action d-flex align-items-center" >
            <div class="text-center me-2">
              <img [src]="tec.img.src" style="width: {{tec.img.width}}; height: {{tec.img.height}};" />
              <span [innerHTML]="sanitizer.bypassSecurityTrustHtml(tec.img.svg)"></span>
            </div>
            <div>
              <h6 class="mb-0 text-primary fw-bold">{{tec.name}}</h6>
              <div class="small text-secondary" style="font-size: 12px;">{{tec.level}}</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row justify-content-center my-5">
    <div class="col-12 col-md-6">
      <app-title title="Experiencia"></app-title>
      <ul class="list-group mt-3">
        <li *ngFor="let exp of expList" class="list-group-item list-group-item-action" >
          <div class="position-absolute" style="top: 13px;left: 20px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="var(--bs-danger)" class="bi bi-building" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694 1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
              <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
            </svg>
          </div>
          <div class="ms-5">
            <h6 class="mb-0 text-primary fw-bold">
              <i class="text-danger bi bi-check2-circle"></i> {{exp.name}}
            </h6>
            <div class="small text-secondary mb-2" style="font-size: 12px;">{{exp.startDate}} - {{exp.endDate}}</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
