<!-- <nav class="d-none navbar navbar-expand fixed-top">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <a class="navbar-brand fw-bold text-primary" href="/" routerLink="/">
          <span class="d-none d-md-block">Alejandro Villatoro</span>
          <img src="assets/img/icon.webp" class="d-block d-md-none position-absolute" style="width: 52px;top: 8px;" alt="Logo Alejandro Villatoro">
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li *ngFor="let item of items" class="nav-item">
            <a class="nav-link" [href]="item.href" [routerLink]="item.href" [ngClass]="{ 'text-primary': isPageActive(item.href) }">
              {{item.name}}
            </a>
            <div *ngIf="isPageActive(item.href)" data-af="animation-top animation-200ms" class="d-flex justify-content-center">
              <div class="d-flex">
                <div class="bg-danger rounded-start" style="width: 10px;height: 4px;"></div>
                <div class="bg-primary rounded-end" style="width: 10px;height: 4px;"></div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>
</nav> -->


<nav id="navbar" class="navbar fixed-top bg-white position-fixed" style="padding-bottom: 0;box-shadow: 0 1px 2px 0 rgb(0 0 0 / 30%), 0 2px 6px 2px rgb(0 0 0 / 15%);">
  <div class="container">
    <div container-logo>
      <div class="d-flex justify-content-center pb-1">
        <div>
          <a class="navbar-brand fw-bold text-primary" href="/" routerLink="/">
            Alejandro Villatoro
            <!-- <img src="assets/img/icon.webp" class="d-block d-md-none position-absolute" style="width: 52px;top: 8px;" alt="Logo Alejandro Villatoro"> -->
          </a>
        </div>
      </div>
      <hr class="m-0 d-md-none">
    </div>

    <div class="overflow-auto" id="navbarNav">
      <ul class="navbar-nav" style="flex-direction: initial;">
        <li *ngFor="let item of items" class="nav-item mx-md-2">
          <a rel="noopener" [routerLink]="item.href" [ngClass]="{ 'text-primary': isPageActive(item.href) }" class="nav-link text-center d-flex align-items-center w-100">
            <span style="margin: 0 auto">
              <span class="container-option fw-bold small">{{item.name}}</span>
            </span>
          </a>
        </li>
      </ul>
    </div>

  </div>
</nav>
