/* You can add global styles to this file, and also import other style files */
@use 'bootstrap';

* {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "GRAD" 0;
}

html, body {
  min-height: 100%;
  background: rgb(20, 20, 20)
}

.card {
  // border: 0;
  border-radius: 16px;
}

a {
  color: rgb(162, 162, 162);
  text-decoration: none;
}


html,
body {
  margin: 0;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}